p, h1{
    font-family: 'Josefin Sans', sans-serif; 
}

h1{
    padding: 25px;
}

.lightMode:hover{
    background-color: LightGray;
}

.darkMode:hover{
    background-color: dimgray;
}

.lightMode{
    background-color:white;
    color:black;
    width:150px;
    height:40px;
    margin: auto;
    border-radius: 15px;
}

.darkMode{
    background-color:gray;
    color:white;
    width:150px;
    height:40px;
    margin: auto;
    border-radius: 15px;
}

.main{
    text-align: center;
    padding: 10px;
}

.padding{
    padding: 10px;
}

.text{
    padding: 5px;
    border: 3px solid black;
    width: 135px;
    height: 200;
    margin: auto;
    border-radius: 15px;
}

.textPadding{
    padding-top: 20px;
}
